<div class="container">

  <div class="header">
    <h1>Water Bill Section</h1>

  </div>

  <div class="search">
    <input type="text" [(ngModel)]="filter" placeholder="Search....">
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let item of filteredWaterBills">
      <img src="../assets/waterbill.png" alt="waterbill.png">
      <p>Name : {{item.name}}</p>
      <p><span> amonut: {{item.amount}}$</span></p>
      <p><span>Due Date: {{item.DueDate}}</span></p>
      <button>Pay Now</button>
    </div>
  </div>

</div>
