<div class="container">
  <div class="header">
    <h1>Phone Bill Section</h1>
  </div>
  <div class="search">
    <input type="text" [(ngModel)]="filter" placeholder="Search...">
    <h2>Filter:</h2>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let item of products">
      <img src="../assets/Smartphone.png" alt="waterbill.png">
      <p><span> Name : {{item.name}}</span> </p>
      <p><span> amonut: {{item.price}}$</span></p>
      <p><span>Due Date:{{item.dueDate | date }} </span></p>
      <button (click)="payBillNow(item)">Pay Now</button>
      <button (click)="addToBill(item)">Add to Cart</button>
    </div>
  </div>

</div>
