<table class="table table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">User ID</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.id}}</td>
      <td>
        <a [routerLink]="['/addBill',user.id]" class="btn-floating  waves-effect waves-light red"><i
            class="material-icons">add</i></a>
        <a (click)="showWater(user.id)" class="btn-floating  waves-effect waves-light blue"><i
            class="material-icons">local_drink</i></a>
        <a (click)="showElec(user.id)" class="btn-floating  waves-effect waves-light yellow"><i
            class="material-icons">lightbulb_outline</i></a>
        <a class="btn-floating  waves-effect waves-light green"><i class="material-icons">local_phone</i></a>
        <button class="waves-effect waves-light btn-small red" (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
    <tr *ngFor="let item of products">
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.dueDate|date}}</td>
      <button class="waves-effect waves-light btn-small red" (click)="deleteProduct(item,user.id)">Pay Now</button>
    </tr>
  </tbody>
</table>
